<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baking Page</title>
    <link rel="stylesheet" href="/bootstrap.css" />
    <link rel="stylesheet" href="/confetti_cuisine.css" />
</head>
<body>
    <div id="nav">
        <div class="col-sm nav-align"><h1 id="title">Confetti Cuisine</h1></div>
  
        <div class="col-sm nav-align">
          <a href="/"> <span class="button">Home</span> </a>
  
          <a href="/courses.html"> <span class="button">Courses</span> </a>
  
          <a href="/contact.html"> <span class="button">Contact</span> </a>
  
          <a href="/recipe.html"> <span class="button">Recipes</span> </a>
  
          <a href="/cities.html"> <span class="button">Cities</span> </a>

          <a href="/baking.html"> <span class="button">Baking</span> </a>
          
        </div>
      </div>
      <h1>Baking</h1>

      <p>3 types of bread from 3 different Countries</p>

      <div class="baking-container">
        <div class="baking-class">
          <h2>Italy: Focaccia</h2>
          <div class="baking-image"><img src="/focaccia.jpg" alt="" /></div>
          <cite class="baking-citation">https://pixabay.com/photos/focaccia-food-italian-pizza-3771454/</cite>
          <div class="bread-text">
            <p>Focaccia is a flat leavened oven-baked Italian bread. 
              It can often be traced back to the Ancient Greeks. The basic 
              recipe to make such bread includes flour, water, salt, and olive oil. 
            </p>
          </div>
        </div>
      </div>

      <div class="baking-container"></div>
        <div class="baking-class">
          <h2>Mexico: Conchas</h2>
          <div class="baking-image"><img src="/conchas.jpg"  alt="" /></div>
          <cite class="baking-citation">https://www.pexels.com/photo/baked-pastries-on-a-table-11880571/</cite>
          <div class="bread-text">
            <p>
              Created in mexico, conchas were introduce during the colonial era. influenced by the French, 
              and Spanish, the concha is a sweet bread that is topped with a sugar shell. It has been a staple
              within the Mexican culture for centuries. Fun fact, their name comes from the sweet covering
               that resembles a seashell, or "concha" in Spanish. 
            </p>
          </div>
        </div>
      </div>

      <div class="baking-container"></div>
        <div class="baking-class">
          <h2>France: Baguette</h2>
          <div class="baking-image"><img src="/baguette.jpg"  alt="" /></div>
          <cite class="baking-citation">https://pixabay.com/photos/loaf-bakery-preparation-fresh-bread-2436370/</cite>
          <div class="bread-text">
            <p>The Baguette is a known staple within France. Although they're many stories tied to the making
               of the bread, the most common one is due to the Emperror of France, Napoleon Bonaparte wanting a bread 
               to be made extraordinarily thin and long to better fit into a special pocket in soldiers uniforms. Because of this, 
                the baguette was born. This well known bread is made with flour, water, yeast, and salt.
              

            </p>
          </div>
        </div>
      </div>



</body>

</html>