<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cities Page</title>
    <link rel="stylesheet" href="/bootstrap.css" />
    <link rel="stylesheet" href="/confetti_cuisine.css" />
</head>
<body>
    <div id="nav">
        <div class="col-sm nav-align"><h1 id="title">Confetti Cuisine</h1></div>
        <div class="col-sm nav-align">
            <a href="/"> <span class="button">Home</span> </a>
            <a href="/courses.html"> <span class="button">Courses</span> </a>
            <a href="/contact.html"> <span class="button">Contact</span> </a>
            <a href="/recipe.html"> <span class="button">Recipes</span> </a>
            <a href="/cities.html"> <span class="button">Cities</span> </a>
            <a href="/baking.html"> <span class="button">Baking</span> </a>

        </div>
    </div>
    <!-- Website Used for the five cities: https://travel.usnews.com/rankings/best-foodie-destinations-in-the-usa/ -->
        <h1>Top 5 Cities</h1>
        <p>Top Cities ranked food In the USA:</p>
        <div class="city-container">
            <div class="city-card">
                <div class="city-image"><img src="/new-orleans.jpg"  alt="" /></div>
                <cite>https://pixabay.com/photos/new-orleans-tram-america-usa-4008968/</cite>
                <div class="city-text">
                    <h2 class="city-title"> #1 New Orleans</h2>
                    <p> Also known as "The Big Easy", New Orleans is ranked as the top city in the USA for food.
                        it is famous for their Creole and Cajun cuisine. We also have New Orleans 
                        to thank for Sunday brunch, which originated here in 1854, and the spread of 
                        cocktail culture.
                    </p>
                </div>
            </div>
        </div>
        <div class="city-container">
            <div class="city-card">
                <div class="city-image"><img src="/newyorkcity.jpg"  alt="" /></div>
                <cite>https://pixabay.com/photos/buildings-river-city-cityscape-668616/</cite>
                <div class="city-text">
                    <h2 class="city-title"> #2 New York City</h2>
                    <p>The City that Never Sleeps is known around the world for a dining scene 
                        that's vast in both volume and diversity. with a high variety of food, a 
                        traverler can find virtually any type of food experience in the Big Apple.
                        New York city is also home to many Michelin-starred restaurants and James Beard Award-winning chefs.
                    </p>
                </div>
            </div>
        </div>
     <div class="city-container">
        <div class="city-card">
            <div class="city-image"><img src="/chicago.jpg"  alt="" /></div>
            <cite>https://pixabay.com/photos/chicago-usa-building-skyscraper-5347435/</cite>
            <div class="city-text">
                <h2 class="city-title">#3 Chicago</h2>
                <p>The best city in the USA (in my opinion). Home to the Chicago dog and deep 
                    dish pizza, Chicago has some of the most diverse food within their neighborhoods. 
                    From chinatown to little italy, you can find a variety of food in the windy city.
                 </p>
            </div>
        </div>
    </div> <div class="city-container">
        <div class="city-card">
            <div class="city-image"><img src="/los-angeles.jpg"  alt="" /></div>
            <cite>https://pixabay.com/photos/griffith-observatory-los-angeles-3897616/</cite>
            <div class="city-text">
                <h2 class="city-title">#4 Los Angeles</h2>
                <p>The city of angels provides the food scene with some of the most culturally diverse food 
                    one can find in the US. From food trucks to Michelin-starred restaurants, Los Angeles has it all.
                </p>
            </div>
        </div>
    </div>
    <div class="city-container">
        <div class="city-card">
            <div class="city-image"><img src="/san-francisco.jpg"  alt="" /></div>
            <cite>https://pixabay.com/photos/san-francisco-skyline-city-4674350/</cite>
            <div class="city-text">
                <h2 class="city-title">#5 San Francisco</h2>
                <p> 
                    San Francisco is known for their innovation in food. From the creation of the fortune cookie to the
                    invention of the Irish coffee, San Francisco has a rich history in food.
                </p>
            </div>
        </div>
    </div>
   
   
</body>
</html>