<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipes Page</title>
    <link rel="stylesheet" href="/bootstrap.css" />
    <link rel="stylesheet" href="/confetti_cuisine.css" />
  </head>
  <body>
    <div id="nav">
      <div class="col-sm nav-align"><h1 id="title">Confetti Cuisine</h1></div>

      <div class="col-sm nav-align">
        <a href="/"> <span class="button">Home</span> </a>

        <a href="/courses.html"> <span class="button">Courses</span> </a>

        <a href="/contact.html"> <span class="button">Contact</span> </a>

        <a href="/recipe.html"> <span class="button">Recipes</span> </a>

        <a href="/cities.html"> <span class="button">Cities</span> </a>

        <a href="/baking.html"> <span class="button">Baking</span> </a>

      </div>
    </div>
    <h1>Recipes</h1>
    <p>Here are some of our favorite recipes:</p>

    <div class="recipe-container">
      <h2 class="recipe-title">Enchiladas</h2>
      <div class="recipe-image"><img src="/enchiladas.jpg"  alt="" /></div>
      <cite class="recipe-citation"
        >https://www.pexels.com/photo/enchiladas-28114861/</cite>
        <!--Website link: https://www.loveandlemons.com/enchiladas-recipe/ -->
      <div class="recipe-content">
        <div class="recipe-section">
          <h3>Ingredients:</h3>
          <ul>
            <li>Corn Tortillas</li>
            <li>
              Enchilada Sauce: red or green depending on your sauce of choice
            </li>
            <li>Monterey Jack</li>
            <li>Black Beans</li>
            <li>Spinach</li>
            <li>Avocado</li>
            <li>Red Onion</li>
          </ul>
        </div>
        <div class="recipe-section">
          <h3>Instructions:</h3>
          <ol>
            <li>prep the sauce and filling</li>
            <li>fill the Enchiladas</li>
            <li>then add more cheese and sauce on top on the</li>
            <li>Bake at 350F inside the oven</li>
            <li>add the toppings on top of the dish to finish it off</li>
          </ol>
        </div>
      </div>
    </div>



    <div class="recipe-container">
      <h2 class="recipe-title">Tamales</h2>
      <div class="recipe-image"><img src="tamales.jpg" alt="" /></div>
      <cite class="recipe-citation">https://unsplash.com/photos/green-parsley-H7G7Lkn9HSo</cite >
      <!--website link to recipe: https://www.food.com/recipe/traditional-tamales-pork-15286 -->
      <div class="recipe-content">
        <div class="recipe-section">
          <h3>Ingredients:</h3>
          <ul>
            <li>3 1⁄2 lbs pork shoulder or 3 1/2 lbs pork butt, trimmed of fat and cut up</li>
            <li>10 cups water</li>
            <li>1 medium onion, quartered</li>
            <li>3 garlic cloves, minced</li>
            <li>3 1⁄2 teaspoons salt</li>
            <li>4 cups red chili sauce (see Red Chili Sauce (To Be Used With Traditional Tamales) for red chili sauce)</li>
            <li>6 cups masa harina</li>
            <li>1 1⁄2 teaspoons baking powder</li>
            <li>50 dried corn husks (about 8 inches long)</li>
          </ul>
        </div>
        <div class="recipe-section">
          <h3>Instructions:</h3>
          <ol>
            <li>In a 5 qt Dutch oven, bring pork, water, onion, garlic and 1 1/2 salt to boil.</li>
            <li>Simmer covered, about 2 1/2 hours or until meat is very tender.</li>
            <li>Remove meat from broth and allow both meat and broth to cool. (Chilling the broth will allow you to easily remove the fat if you desire to do so).</li>
            <li>Shred the meat using 2 forks, discarding fat.</li>
            <li>Strain the broth and reserve 6 cups.</li>
            <li>In a large sauce pan, heat the red chili sauce and add meat; simmer, covered for 10 minutes.</li>
            <li>To make masa beat shortening on medium speed in a large bowl for 1 minute. </li>
            <li>In a separate bowl, stir together masa harina, baking powder and 2 teaspoons salt.</li>
            <li>Alternately add masa harina mixture and broth to shortening, beating well after each addition. (Add just enough broth to make a thick, creamy paste).</li>
            <li>In the mean time, soak corn husks in warm water for at least 20 minutes; rinse to remove any corn silk and drain well.</li>
            <li>To assemble each tamale, spread 2 tablespoons of the masa mixture on the center of the corn husk (each husk should be 8 inches long and 6 inches wide at the top. If husks are small, overlap 2 small ones to form one. If it is large, tear a strip from the side).</li>
            <li>Place about 1 tablespoon meat and sauce mixture in the middle of the masa.</li>
            <li>Fold in sides of husk and fold up the bottom.</li>
            <li>Place a mound of extra husks or a foil ball in the center of a steamer basket placed in a Dutch oven. </li>
            <li>Lean the tamales in the basket, open side up.</li>
            <li>Add water to Dutch oven just below the basket.</li>
            <li>Bring water to boil and reduce heat.</li>
            <li>Cover and steam 40 minutes, adding water when necessary.</li>
          </ol>
        </div>
      </div>
    </div>


    <div class="recipe-container">
      <h2 class="recipe-title">Pozole</h2>
      <div class="recipe-image">
        <img src="pozole.jpg" alt=""/>
      </div>
      <cite class="recipe-citation">https://www.pexels.com/photo/soup-in-a-ceramic-bowl-14179982/</cite>
      <!--website link to recipe: Optional:https://www.mexicoinmykitchen.com/red-pozole-rojo/  -->
      <div class="recipe-content">
        <div class="recipe-section">
          <h3>Ingredients:</h3>
          <h4>For the soup:</h4>
          <ul>
            <li>4 quarts of water</li>
            <li>2 pounds cubed pork shoulder</li>
            <li>1 pound pork spare ribs</li>
            <li>1 white onion cut in quarts</li>
            <li>8 large garlic cloves</li>
            <li>salt to taste</li>
            <li>3 cans of white hominy (drained and rinsed)</li>
          </ul>
          <h4>For the red sauce:</h4>
          <ul>
            <li>5 guajillo peppers (cleaned, seeded, open flat, and deveined)</li>
            <li>5 ancho peppers (cleaned, seeded, open flat, and deveined)</li>
            <li>6 garlic cloves</li>
            <li>1 medium white onion coarsely chopped</li>
            <li>½ teaspoon dry Mexican oregano</li>
            <li>2 tablespoon vegetable or canola oil</li>
            <li>salt to taste</li>
          </ul>
          <h4>For the garnish:</h4>
          <ul>
            <li>1 head of lettuce finely shredded</li>
            <li>1 ½ cup onions finely chopped</li>
            <li>Ground chile piquín to taste</li>
            <li>1 ½ cup radishes sliced</li>
            <li>Mexican oregano</li>
            <li>Deep fried corn tortillas tostadas</li>
            <li>Limes cut in wedges</li>
            <li>Optional: avocado chopped</li>
          </ul>
        </div>
        <div class="recipe-section">
          <h3>Instructions:</h3>
          <ol>
            <li>Heat water in a large stockpot and Add pork meat, spare ribs, onion, 
              and garlic. Bring to a boil, then lower the heat and let simmer, partially
               covered for 2 and half hours or until meat is tender and falling off the bone.
               Season with salt when meat is almost done.While cooking, skim the top layer of 
               foam and fat from the pot sing a ladle.</li>
            <li>Remove pork from broth; reserve broth. Trim excess fat, and 
              remove meat from bones; discard bones, onion, and garlic from 
              the broth. Shred meat, and cover.</li>
            <li>Now for the sauce, soak the ancho and guajillo peppers in water 
              just enough to cover for 25-30 minutes until soft.</li>
            <li>Using a blender or food processor blend peppers, garlic cloves, 
              onion, and oregano, adding some of the water in which they were 
              soaking. Puree mixture until smooth.</li>
            <li>Heat oil in a large skillet over medium-high. Add the dry pepper 
              puree and salt to taste, stirring constantly as it splatters. Reduce
               heat to medium; simmer, about 25 minutes.</li>
            <li>Using a strainer, add the sauce to the broth. Bring to a boil and 
              add the meat, and simmer gently, for about 10 minutes. Stir in white
               hominy, and season with salt and pepper. Simmer until heated through.</li>
            <li>Serve Pozole in large Mexican soup bowls and place garnishes on the side as shown above.</li>
          </ol>
        </div>
      </div>
    </div>


  </body>
</html>
